.container {
  width: 100%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: var(--footer-height);
  .footer {
    width: 100%;
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
    // width: var(--content-width);
  }
}
